body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

    
}

.btn {
            background-color: rgb(176, 193, 244);
            color: black;
            padding: 10px;
            border: none;
            cursor: pointer;
        }
        button:active {
            background-color: rgb(163, 119, 246);
        }

.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table:empty {
    display: none;
}

.sshare{
     text-align: right;
}

/* .btn {
    display: inline-block;
    margin-left: 
} */
.img{
    float:right;
    max-width: 20px;
}

.three-column {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow-x: hidden;
    padding: 20px;
}
/* Brooo why left ok right weird */

.center-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    width: 400px;
    max-width: 500px;
}

.left-form {
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.right-form {
    height: auto;
    width: 100%;
    border-radius: 8px;
}

/* .dropdown button{
    background-color: white;
    color: white;
    padding: 10px 15px;
    border:none;
    cursor:pointer;

}
.dropdown p{
    display:block;
    color:black;
    padding: 10px 15px;
    

} */


.lineclass {
    display:none;
}