body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

    
}

.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table:empty {
    display: none;
}

.sshare{
     text-align: right;
}

.btn {
    display: inline-block;
    margin-left: 
}
.img{
    float:right;
    max-width: 20px;
}

